/* imports*/ /*variables*/ /*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, .body_style {
  background-color: black;
  --bs-body-bg:black;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .menu {
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  footer ul {
    flex-direction: column;
    align-content: center;
  }
  .lanzamientos-grid-container {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 100px;
    grid-template-rows: repeat(8, 1fr);
    column-gap: 15px;
    grid-template-areas: "img_lanz_1 " "img_lanz_2 " "img_lanz_3 " "img_lanz_4 " "img_lanz_5 " "img_lanz_6 " "img_lanz_7 " "img_lanz_8 ";
  }
  .lanzamientos-grid-container .img_release {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    height: 150px;
  }
  .evento-sub-section {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
  }
}
@media screen and (min-width: 501px) and (max-width: 960px) {
  .menu {
    /*  coloco el flex en el nav para alinear las dos imagenes y la lista */
    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .lanzamientos-grid-container {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    grid-template-areas: "img_lanz_1 img_lanz_2 " "img_lanz_3 img_lanz_4 " "img_lanz_5 img_lanz_6 " "img_lanz_7 img_lanz_8";
  }
  .lanzamientos-grid-container .img_release {
    padding-top: 40px;
    padding-bottom: 10px;
    width: 200px;
    height: 200px;
  }
  .evento-sub-section {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 961px) {
  .menu {
    /*  coloco el flex en el nav para alinear las dos imagenes y la lista */
    padding: 25px;
    flex-direction: row;
  }
  .lanzamientos-grid-container {
    padding: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
    grid-template-areas: "img_lanz_1 img_lanz_2 img_lanz_3 img_lanz_4" "img_lanz_5 img_lanz_6 img_lanz_7 img_lanz_8";
  }
  .lanzamientos-grid-container .img_release {
    padding-top: 40px;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
  }
  .evento-sub-section {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
  }
}
.menu_container {
  display: flex;
  width: 100%;
  background: linear-gradient(to right, tomato, rgb(255, 59, 37));
  font-family: "Libre Baskerville", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.menu_container .menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu_container .menu .logo_image {
  width: 12rem;
}
.menu_container .menu .lupa {
  width: 3rem;
  height: 3rem;
}
.menu_container .menu ul {
  /* si no pongo flex aqui los links se ven horizotal*/
  display: flex;
  list-style-type: none;
  /*El margin se coloca en los li de la UL para separar sus items*/
}
.menu_container .menu ul li {
  margin: 10px;
  flex-wrap: wrap;
}
.menu_container .menu ul li a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.menu_container .menu ul li a:hover {
  font-weight: 500;
  font-stretch: wider;
  text-decoration: underline;
}

footer {
  background: linear-gradient(to right, tomato, rgb(255, 59, 37));
  font-family: "Libre Baskerville", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
footer ul {
  padding: 25px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Social Media links del Footer */
}
footer ul a {
  color: black;
}
footer ul a .social_media_icons {
  width: 40px;
  height: 100%;
  transition: all 1s;
}
footer ul a .social_media_icons:hover {
  width: 35px;
  height: 90%;
}

.border {
  border: 1px solid black;
}

@keyframes transicion_opc {
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transicion_escalar {
  0% {
    transform: scale(0.5, 0.5);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(1, 1);
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
main h1 {
  color: white;
  display: flex;
  justify-content: center;
}
main #indie_home_img {
  width: 100%;
  height: 100%;
  animation-name: transicion_escalar;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
main .lead {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
  color: white;
}
main h5 {
  color: black;
  display: flex;
  justify-content: center;
}
main h6 {
  color: black;
  display: flex;
  justify-content: center;
}
main p {
  color: black;
  display: flex;
  justify-content: center;
}

main .titulo_lanzamiento, main .titulo_eventos {
  display: flex;
  justify-content: center;
  font-size: 120%;
  color: white;
}
main .lanzamientos-grid-container .lanzamiento-grid-1 {
  grid-area: img_lanz_1;
}
main .lanzamientos-grid-container .lanzamiento-grid-2 {
  grid-area: img_lanz_2;
}
main .lanzamientos-grid-container .lanzamiento-grid-3 {
  grid-area: img_lanz_3;
}
main .lanzamientos-grid-container .lanzamiento-grid-4 {
  grid-area: img_lanz_4;
}
main .lanzamientos-grid-container .lanzamiento-grid-5 {
  grid-area: img_lanz_5;
}
main .lanzamientos-grid-container .lanzamiento-grid-6 {
  grid-area: img_lanz_6;
}
main .lanzamientos-grid-container .lanzamiento-grid-7 {
  grid-area: img_lanz_7;
}
main .lanzamientos-grid-container .lanzamiento-grid-8 {
  grid-area: img_lanz_8;
}
main .lanzamientos-grid-container .release_etiqueta {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

main .evento-sub-section .evento-section .evento_p {
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  text-align: left;
}
main .evento-sub-section .evento-imagen .img_evento {
  width: 150px;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
