 
.border{
    border: 1px solid black;
}



@keyframes transicion_opc{

    50% {
       
       opacity:0.50;
    }
    70% {
       
       opacity:0.70;
    }
    100% {
       opacity: 1;
    }
 }

 @keyframes transicion_escalar{

  
    0% {
        transform: scale(0.5,0.5);
     }
    25% {
       transform: scale(1,1);
    }
    50% {
        transform: scale(1,1);
     }
    70% {
      
        transform: scale(1,1);
  
    }
    
 }

 @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
 #indie_home_img
 {
     width: 100%;
     height:100%;
     animation-name: transicion_escalar ;
     animation-timing-function: ease-in;
     animation-duration: 3s;
     animation-iteration-count: 1;

}


 .lead {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count:1;
    animation-direction: alternate;
  }

